#############################
# Various additional Checks #
#############################
include:
  # - template: Code-Quality.gitlab-ci.yml
  - template: SAST.gitlab-ci.yml
  # - template: Dependency-Scanning.gitlab-ci.yml
  # - template: Container-Scanning.gitlab-ci.yml

######################################
# Setup scripts for client/server #
######################################
.server_before_script: &server_before_script
  image: registry.gitlab.com/gokaart/docker-images/gdal-python-git-postgres
  variables:
    APP_BASE_URL: "http://127.0.0.1"
    POSTGRES_DB: test_database
    POSTGRES_USER: runner
    POSTGRES_PASSWORD: "completely random password here!"
    POSTGRES_ENDPOINT: test_database
    TESTING_DB: test_database
    TESTING_USER: runner
    TESTING_PASSWORD: "completely random password here!"
    TESTING_ENDPOINT: test_database
    TESTING_PORT: 5432
  before_script:
    - echo "APP_BASE_URL=\"${APP_BASE_URL}\"" > backend/geocache.env
    - echo "POSTGRES_DB=\"${POSTGRES_DB}\"" >> backend/geocache.env
    - echo "POSTGRES_USER=\"${POSTGRES_USER}\"" >> backend/geocache.env
    - echo "POSTGRES_PASSWORD=\"${POSTGRES_PASSWORD}\"" >> backend/geocache.env
    - echo "POSTGRES_ENDPOINT=\"${POSTGRES_ENDPOINT}\"" >> backend/geocache.env
    - echo "TESTING_DB=\"${TESTING_DB}\"" >> backend/geocache.env
    - echo "TESTING_USER=\"${TESTING_USER}\"" >> backend/geocache.env

    - cat backend/geocache.env
    - ls -lh /dev/null
    - echo "Test" > /dev/null
    - echo $(pwd)
    - ls
    - source backend/geocache.env
    - cd backend
    - pip3 --cache-dir ${PIP_CACHE_DIR} install -r requirements.txt

.server_db_setup: &server_db_setup
  - |
    commands=("\\c \"${POSTGRES_DB}\";"
            "CREATE EXTENSION postgis;")
    for command in "${commands[@]}"; do
        psql --host=${POSTGRES_ENDPOINT} --dbname="${POSTGRES_DB}" --command="${command}" || echo "${command} didn't work"
    done
    export MONGOOSE_DB="postgresql://${POSTGRES_USER}:${POSTGRES_PASSWORD}@${POSTGRES_ENDPOINT}/${POSTGRES_DB}"

.client_before_script: &client_before_script
  image: registry.gitlab.com/gokaart/docker-images/node
  before_script:
    - cd client
    - npm ci --prefer-offline --cache "${npm_config_cache}"
  retry: 2

########################
# Global configuration #
########################

variables:
  PIP_CACHE_DIR: "${CI_PROJECT_DIR}/.cache/pip"
  npm_config_cache: "${CI_PROJECT_DIR}/.cache/npm"
cache:
  key: ${CI_JOB_NAME}-${CI_COMMIT_REF_SLUG}
  paths:
    - .cache/pip
    - .cache/npm
    - backend/venv

###################
# Rule references #
###################
.client_rules:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - client/**/*
    - if: "$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH"

.server_rules:
  rules:
    - if: '$CI_PIPELINE_SOURCE == "merge_request_event"'
      changes:
        - server/**/*
    - if: "$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH"

.deploy_rules:
  rules:
    - if: $CI_COMMIT_TAG
    - if: "$CI_COMMIT_BRANCH == $CI_DEFAULT_BRANCH"

#################
# Docker images #
#################

docker:
  stage: build
  image:
    name: gcr.io/kaniko-project/executor:debug
    entrypoint: [""]
  before_script:
    - if [ -z "${CI_COMMIT_TAG}" ];then tag="${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}"; else tag="${CI_COMMIT_TAG}"; fi
    - tag="${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}" # in order to make helm work properly (no sh)
  script:
    - mkdir -p /kaniko/.docker
    - mkdir -p ./.cache
    - echo "{\"auths\":{\"$CI_REGISTRY\":{\"username\":\"$CI_REGISTRY_USER\",\"password\":\"$CI_REGISTRY_PASSWORD\"}}}" > /kaniko/.docker/config.json
    - /kaniko/executor --cache --cache-dir .cache --context $CI_PROJECT_DIR/backend --dockerfile $CI_PROJECT_DIR/backend/Dockerfile --destination $CI_REGISTRY_IMAGE/geocache-server:${tag} --destination $CI_REGISTRY_IMAGE/geocache-server:latest
    - /kaniko/executor --cache --cache-dir .cache --context $CI_PROJECT_DIR/frontend --dockerfile $CI_PROJECT_DIR/frontend/Dockerfile --destination $CI_REGISTRY_IMAGE/geocache-client:${tag} --destination $CI_REGISTRY_IMAGE/geocache-client:latest
  rules:
    - !reference [.deploy_rules, rules]
  tags:
    - amd64
  cache:
    key: ${CI_JOB_NAME}-${CI_COMMIT_REF_SLUG}-docker
    paths:
      - .cache

##########
# Deploy #
##########

kubernetes_cluster_micro_kaart_com:
  stage: deploy
  environment:
    name: production
    url: https://mikro.kaart.com
    kubernetes:
      namespace: geocache
  image:
    name: alpine/k8s:1.20.7
  before_script:
    - if [ -z "${CI_COMMIT_TAG}" ];then tag="${CI_COMMIT_REF_SLUG}-${CI_COMMIT_SHORT_SHA}"; else tag="${CI_COMMIT_TAG}"; fi
  script:
    - cd deployment/kubernetes
    - sed -i "s/\(.*registry.gitlab.com\/gokaart\/geocash\/geocache-.*\):latest/\1:$tag/" server/deployment.yaml
    - sed -i "s/\(.*registry.gitlab.com\/gokaart\/geocash\/geocache-.*\):latest/\1:$tag/" client/deployment.yaml
    #- kubectl apply -f namespace.yaml # This only needs to be run once, and should probably be run by itself.
    - kubectl apply -f server/deployment.yaml -f server/service.yaml -f client/deployment.yaml -f client/service.yaml -f ingress.yaml
  rules:
    - !reference [.deploy_rules, rules]




